{% extends 'layout.html.twig' %}

{% block content %}

{% if locationEmpty %}
<p> Something went wrong </p>
{% else %}
	{% if weather %}
		<p> {{ weather }} </p>
	{% else %}
		<p>Could not retrieve weather data</p>
	{% endif %}
{% endif %}

{#
{{ form_widget(form.save, { 'label': 'Refresh location'})  }}
#}

{{ form(form) }}

{% endblock %}